<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Historique de réparations de mes voitures</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Immatriculation
                </th>
                <th>
                  Couleur
                </th>
                <th>
                  Historique
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let voiture of voitures" >
                	<td> {{ voiture._id.immatriculation }} </td>
                	<td> {{ voiture._id.couleur }} </td>
                	<td>
                    <ng-template class="modal" #message let-modal style="z-index: 1055;" >
                      <div id="modalModif" >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Les réparations</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">

    <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Date
                </th>
                <th>
                  Réparation 
                </th>
                <th>
                  Prix (Ar)
                </th>
                <th>
                  Avancement (%)
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let historique of historiques">
                  <td> {{ historique.dateDepot | date:"dd/MM/yyyy HH:mm:ss" }} </td>
                  <td> {{ historique.reparation.nom  }} </td>
                  <td> {{ historique.reparation.prix  }} </td>
                  <td> {{ historique.reparation.avancement  }} </td>
                </tr>
              </tbody>
            </table>
          </div>


  </div>
  </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(message,voiture._id)">Réparations</button>
                  </td>

                  

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
