<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Liste de mes factures</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Immatriculation
                </th>
                <th>
                  Couleur
                </th>
                <th>
                  Date de dépot
                </th>
                <th>
                  Date de réception
                </th>
                <th>
                  Date de sortie
                </th>
                <th>
                  Facture
                </th>
              </thead>
              <tbody>              	
                <tr *ngFor="let depot of depots" >
                	<td> {{ depot.voiture.immatriculation }} </td>
                	<td> {{ depot.voiture.couleur }} </td>
                	<td> {{ depot.dateDepot | date:"dd/MM/yyyy HH:mm:ss" }} </td>
                	<td> {{ depot.dateReception | date:"dd/MM/yyyy HH:mm:ss" }} </td>
                	<td> {{ depot.dateSortie | date:"dd/MM/yyyy HH:mm:ss" }} </td>
                	<td> 
                    <ng-template class="modal" #message let-modal style="z-index: 1055;" >
                      <div id="modalModif" >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Les réparations</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nom
                </th>
                <th class="text-right" >
                  Prix (Ar)
                </th>
              </thead>
              <tbody>               
                <tr *ngFor="let reparation of depot.reparations" >
                  <td> {{ reparation.nom }} </td>
                  <td class="text-right" > {{ reparation.prix | number }} </td>     
                </tr>
                <tr>
                  <td><strong>Montant total</strong></td>
                  <td class="text-right" > {{ montantTotal(depot.reparations) | number }} Ar</td>
                </tr>
              </tbody>
            </table>
          </div>
    <div class="" >
    	<h5>Paiements </h5>
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Date
                </th>
                <th class="text-right" >
                  Prix (Ar)
                </th>
              </thead>
              <tbody>               
                <tr *ngFor="let paiement of depot.paiements" [style.background-color]="paiement.couleur" >
                  <td> {{ paiement.datePaiement | date:"dd/MM/yyyy HH:mm:ss" }} </td>
                  <td class="text-right" > {{ paiement.montant | number }} </td>
                </tr>
                <tr>
                  <td><strong>Montant payé</strong></td>
                  <td class="text-right" > {{ montantPaye(depot.paiements) | number }} Ar</td>
                </tr>
              </tbody>
            </table>
            <tr>
              <td><strong>Reste à payer</strong></td>
              <td class="text-right" > {{ resteAPayer(depot.reparations,depot.paiements) | number }} Ar</td>
            </tr>
    </div>
    <div id="fichePaiement" style="display:none;" >
    	<h5>Fiche de paiement</h5>
    	<form (ngSubmit)=payer(depot._id) >
        <div class="row" >
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label for="email">Montant (Ar)</label>
              <input name="montant" id="email" type="number" class="form-control" [(ngModel)]="montant" >
            </div>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-6 pr-1" >
            <button type="submit" class="btn btn-light">Payer</button>
          </div>
        </div>
      </form>
    </div>

  </div>
  </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(message)">Facture</button>
                  </td>                                	
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
