<div class="card col-md-4 form-card" style="background-color: #20c997;" >
  <div class="card-header">
    <h5 class="title">Inscription</h5>
  </div>
  <div class="card-body">
    <form (ngSubmit)=inscrire() >
      <div class="row">
        <div class="col-md-6 pr-1">
          <div class="form-group">
            <label>Nom</label>
            <input name="nom" type="text" class="form-control" placeholder="Nom" [(ngModel)]="utilisateur.nom" value="Mike">
          </div>
        </div>        
      </div>
      <div class="row" >
        <div class="col-md-6 pr-1">
          <div class="form-group">
            <label>Prénom</label>
            <input name="prenom" type="text" class="form-control" placeholder="Prénom" [(ngModel)]="utilisateur.prenom" value="Andrew">
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-6 pr-1">
          <div class="form-group">
            <label for="email">Email</label>
            <input name="email" id="email" type="email" class="form-control" [(ngModel)]="utilisateur.mail" placeholder="Email">
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-6 pr-1">
          <div class="form-group">
            <label for="email">Mot de passe</label>
            <input name="mdp" id="email" type="password" class="form-control" [(ngModel)]="utilisateur.mdp" placeholder="Mot de passe">
          </div>
        </div>
      </div>
      <h5 class="title">Voiture</h5>
      <div class="row" >
        <div class="col-md-6 pr-1">
          <div class="form-group">
            <label for="email">Immatriculation</label>
            <input name="immatriculation" id="email" type="text" class="form-control" [(ngModel)]="utilisateur.voiture.immatriculation" placeholder="Immatriculation">
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-6 pr-1">
          <div class="form-group">
            <label for="email">Couleur</label>
            <div ngbDropdown>
              <button type="button" class="form-control" ngbDropdownToggle>
                {{ selectedOption }}
              </button>
              <div ngbDropdownMenu class="dropdown-menu">
                <li role="menuitem" *ngFor="let option of options" (click)=selectCouleur(option) >
                  <span class="dropdown-item"> 
                      {{ option }} 
                  </span>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-6 pr-1" >
          <button type="submit" class="btn btn-light">S'inscrire</button>
        </div>
      </div>
    </form>
    <div class="row" >
        <div class="col-md-6 pr-1">
          <a href="/connexion/0" >
            Se connecter en tant qu'utilisateur
          </a>          
        </div>
      </div>
  </div>
</div>