<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Listes de vos vehicules</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Immatriculation
                </th>
                <th>
                  Couleur
                </th>

                <th>
                  facture
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let depot of depots ">
                	<td> {{ depot.voiture.immatriculation }} </td>
                	<td> {{ depot.voiture.couleur }} </td>
                	<td>
                    <ng-template class="modal" #message let-modal style="z-index: 1055;" >
                      <div id="modalModif" >

      <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">les Factures </h4>

    <h4 class="modal-title" class="text-right" id="modal-basic-title">{{ depot.dateFacture| date:"dd/MM/yyyy" }}</h4>
    <button type="button" class="btn-close"  aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">

    <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  immatriculation
                </th>
                <th>
                  reparation
                </th>
                <th>
                  montant
                </th>

              </thead>
              <tbody>

                <tr *ngFor="let data of depot.reparation ">

                  <td> {{ depot.voiture.immatriculation }} </td>
                  <td> {{ data.nom }} </td>
                  <td> {{ data.prix | number }} </td>

                </tr>

              </tbody>
            </table>
          </div>


  </div>
  </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(message)">voir Facture</button>
                  </td>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
