<div class="panel-header panel-header-sm">
</div>
<div class="main-content" >
  <div class="card col-md-6 form-card"  >
    <div class="card-header">
      <h5 class="title">Déposer ma voiture</h5>
    </div>
    <div class="card-body">
      <form (ngSubmit)=deposer() >
        <div class="row" >
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label for="email">Immatriculation</label>
              <input name="immatriculation" id="email" type="text" class="form-control" [(ngModel)]="voiture.immatriculation" placeholder="Immatriculation" value="voiture.immatriculation" >
            </div>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-6 pr-1">
            <div class="form-group">
              <label for="email">Couleur</label>
              <select class="form-control" [(ngModel)]="voiture.couleur" >
                <option
                    *ngFor="let option of options; index as i"
                    [selected]="option === voiture.couleur" 
                >
                    {{ option }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-6 pr-1" >
            <button type="submit" class="btn btn-light">Déposer ma voiture</button>
          </div>
        </div>
      </form>

      <!-- Modal services -->
      <ng-template class="modal" #message let-modal style="z-index: 1055;" >
                      <div id="modalModif" >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Les réparations</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">

    <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nom
                </th>

                <th class="text-right" >
                  Prix

                </th>

              </thead>
              <tbody>
                <tr *ngFor="let reparation_prix of reparations" >
                  <td> {{ reparation_prix.nom }} </td>
                  <td> {{ reparation_prix.prix | number }} </td>
                  <td  (click)="choisir_reparation(reparation_prix._id,reparation_prix.nom,reparation_prix.prix )">
                    <button class="btn btn-lg btn-outline-primary" type="submit">Reparation</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>


  </div>
  </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(message)">Nos Services</button>

    </div>
  </div>
</div>
