<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="card col-md-12 form-card " >
      <div class="card-header">
        <h5 class="title">Rechercher</h5>
      </div>
      <div class="card-body">
        <form (ngSubmit)=rechercher() >
          <div class="row" >
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="email">Immatriculation</label>
                <input name="immatriculation" id="email" type="text" class="form-control" [(ngModel)]="voiture.immatriculation" placeholder="Immatriculation" >
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label for="email">Couleur</label>
                <select class="form-control" [(ngModel)]="voiture.couleur" >
                  <option
                      *ngFor="let option of options" 
                  >
                      {{ option }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="col-md-6 pr-1" >
              <button type="submit" class="btn btn-light">Rechercher</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Résultat de la recherche</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Utilisateur
                </th>
                <th>
                  Immatriculation
                </th>
                <th>
                  Couleur
                </th>
                <th>
                  Date de dépot
                </th>
                <th>
                  Date de réception
                </th>
                <th>
                  Date de sortie
                </th>
                <th>
                  Réparations
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let depot of depots" >
                  <td> {{ depot.utilisateur.nom }} </td>
                  <td> {{ depot.voiture.immatriculation }} </td>
                  <td> {{ depot.voiture.couleur }} </td>
                  <td> {{ depot.dateDepot | date:"dd/MM/yyyy HH:mm:ss" }} </td>
                  <td> {{ depot.dateReception | date:"dd/MM/yyyy HH:mm:ss" }} </td>
                  <td> {{ depot.dateSortie | date:"dd/MM/yyyy HH:mm:ss" }} </td>
                  <td>
                    <ng-template class="modal" #message let-modal style="z-index: 1055;" >
                      <div id="modalModif" >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Listes des réparations</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">

    <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nom
                </th>
                <th>
                  Prix (Ar)
                </th>
                <th>
                  Avancement (%)
                </th>
                <div *ngIf="depot.dateReception!=undefined && depot.dateSortie==undefined" >
                  <th>
                    Définir avancement
                  </th>
                </div>                
              </thead>
              <tbody>


                      <tr *ngFor="let data of depot.reparations">
                        <td> {{ data.nom }} </td>
                        <td> {{ data.prix | number }} </td>
                        <td> {{ data.avancement | number }} </td>
                        <div *ngIf="depot.dateReception!=undefined && depot.dateSortie==undefined" >
                          <td>
                              <input name="nom" type="number" class="form-control"  [(ngModel)]="data.avancement" [value]="data.avancement" >
                          </td>
                          <td  (click)="modifier_avancement(data.avancement,data._id,depot._id)">
                             <button class="btn btn-sm" type="submit">Modifier</button>
                          </td>
                        </div>
                      </tr>
              </tbody>
            </table>
          </div>
          <div class="" >
            <h5>Pièces nécessaires </h5>
            <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th> Nom</th>
                <th>Prix (Ar)</th>
              </thead>
              <tbody>
                <tr *ngFor="let data of depot.piece">
                  <td> {{ data.nom }} </td>
                  <td> {{ data.prix | number }} </td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
          <div class="" >
            <h5>Paiements </h5>
                      <tr>
                        <td><strong>Montant payé</strong></td>
                        <td class="text-right" > {{ montantPaye(depot.paiements) | number }} Ar</td>
                      </tr>
                  <tr>
                    <td><strong>Reste à payer</strong></td>
                    <td class="text-right" > {{ resteAPayer(depot) | number }} Ar</td>
                  </tr>
          </div>
          <div  id="sortie" style="display:none;" > 
            <button class="btn btn-lg btn-outline-primary" (click)="sortie(depot._id)" >Sortie</button>
          </div>

  </div>
  </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(message)">Réparations</button>
                  </td>
                  <td *ngIf="depot.dateReception==undefined" >
                    <button class="btn btn-lg btn-outline-primary" (click)="receptionner(depot._id)">Ajouter au garage</button>
                  </td>
                  <td>
                    <ng-template class="modal" #pieces let-modal style="z-index: 1055;" >
                      <div id="modalModif" >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Listes des pieces à acheter</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body">
    <p>Glissez les pièces utiles dans la boite verte</p>

    <div class="example-boundary row">
      <div class="pieces col-md-6" >
         <div class="example-box"   cdkDragBoundary=".example-boundary"    *ngFor="let lespieces of piece"  (cdkDragEnded)="ajouterPiece(lespieces._id,lespieces.nom,lespieces.prix,depot._id,$event)" cdkDrag> {{ lespieces.nom }} </div>
      </div>           
            <div class="cutCorners-sub col-md-6">Glissez ici</div>
    </div>



    <script></script>


  </div>
  </div>
</ng-template>
<button class="btn btn-lg btn-outline-primary" (click)="open(pieces)">Les pièces </button>

</td>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
